# Processing the data from https://github.com/capyvara/brazil-civil-registry-data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import seaborn as sns
sns.set()

In [2]:
raw_registry_data_path = 'C:/Users/iwona/Desktop/brazil-civil-registry-data/'
project_data_path = '../data/'
save_data_path = '../data/'

In [3]:
cities = [
'Macapá',
'Manaus',
'Salvador',
'Goiânia',
'São Luís',
# 'Campo Grande',
'Belo Horizonte',
'João Pessoa',
'Curitiba',
'Rio de Janeiro',
'Natal',
'Porto Alegre',
'Porto Velho',
'Florianópolis',
'São Paulo',
# 'Palmas',
]

In [4]:
cities_dict = {
'Macapá': 'Macapa',
'Manaus': 'Manaus',
'Salvador':'Salvador',
'Goiânia': 'Goiania',
'São Luís':'Sao Luis',
# 'Campo Grande':'Campo Grande',
'Belo Horizonte':'Belo Horizonte',
'João Pessoa':'Joao Pessoa',
'Curitiba':'Curitiba',
'Rio de Janeiro':'Rio de Janeiro',
'Natal':'Natal',
'Porto Alegre':'Porto Alegre',
'Porto Velho':'Porto Velho',
'Florianópolis':'Florianopolis',
'São Paulo':'Sao Paulo',
# 'Palmas':'Palmas',
}

# 1. Registry deaths per month

In [5]:
registry_deaths = pd.read_csv(raw_registry_data_path + 'civil_registry_deaths.csv')
#cities = registry_deaths['city'].unique()
registry_deaths = registry_deaths[registry_deaths['city'].isin(cities)]
registry_deaths.start_date = pd.to_datetime(registry_deaths.start_date)
registry_deaths.end_date = pd.to_datetime(registry_deaths.end_date)

# print(cities)
print(registry_deaths.city.unique())

registry_deaths.head()

['Manaus' 'Macapá' 'Salvador' 'Goiânia' 'São Luís' 'Belo Horizonte'
 'João Pessoa' 'Curitiba' 'Rio de Janeiro' 'Natal' 'Porto Velho'
 'Porto Alegre' 'Florianópolis' 'São Paulo']

,start_date,end_date,state,state_ibge_code,city,city_ibge_code,deaths_total,created_at
7604,2015-01-01,2015-01-31,AM,13,Manaus,1302603.0,403,2021-06-26 12:10
7605,2015-02-01,2015-02-28,AM,13,Manaus,1302603.0,404,2021-06-26 12:20
7606,2015-03-01,2015-03-31,AM,13,Manaus,1302603.0,168,2021-06-26 12:10
7607,2015-04-01,2015-04-30,AM,13,Manaus,1302603.0,143,2021-06-26 12:10
7608,2015-05-01,2015-05-31,AM,13,Manaus,1302603.0,456,2021-06-26 12:20

In [6]:
registry_deaths.tail()

,start_date,end_date,state,state_ibge_code,city,city_ibge_code,deaths_total,created_at
296310,2021-02-01,2021-02-28,SP,35,São Paulo,3550308.0,8408,2021-06-26 12:12
296311,2021-03-01,2021-03-31,SP,35,São Paulo,3550308.0,13146,2021-06-26 12:12
296312,2021-04-01,2021-04-30,SP,35,São Paulo,3550308.0,14006,2021-06-26 12:12
296313,2021-05-01,2021-05-31,SP,35,São Paulo,3550308.0,10985,2021-06-26 12:12
296314,2021-06-01,2021-06-30,SP,35,São Paulo,3550308.0,8837,2021-06-26 12:12

### Make sure the cities are correct

In [7]:
print(len(cities))
print(len(registry_deaths.city.unique()))
check =  all(item in cities for item in list(registry_deaths.city.unique()))
if check:
    print('Cities correct')
else:
    print('Cities NOT correct')

14
14
Cities correct

### Delete redundant columns

In [8]:
registry_deaths.drop(columns = ['state_ibge_code', 'city_ibge_code', 'created_at'], inplace=True)
registry_deaths.reset_index(drop=True, inplace=True)

### Translate the cities to remove the Portuguese characters

In [9]:
registry_deaths.replace({"city": cities_dict}, inplace=True)
print(registry_deaths.city.unique())

['Manaus' 'Macapa' 'Salvador' 'Goiania' 'Sao Luis' 'Belo Horizonte'
 'Joao Pessoa' 'Curitiba' 'Rio de Janeiro' 'Natal' 'Porto Velho'
 'Porto Alegre' 'Florianopolis' 'Sao Paulo']

### Save to csv

In [10]:
registry_deaths.to_csv(save_data_path + 'registry_monthly.csv', index=False)

# 2. Covid deaths

In [11]:
covid_deaths = pd.read_csv(raw_registry_data_path + 'civil_registry_covid_cities_detailed.csv')
covid_deaths = covid_deaths[covid_deaths['city'].isin(cities)]
covid_deaths.drop(columns = ['state_ibge_code', 'city_ibge_code', 'created_at'], inplace=True)
covid_deaths.reset_index(drop=True, inplace=True)
print(covid_deaths['city'].unique())
covid_deaths.head()

['Manaus' 'Macapá' 'Salvador' 'Goiânia' 'São Luís' 'Belo Horizonte'
 'João Pessoa' 'Curitiba' 'Rio de Janeiro' 'Natal' 'Porto Velho'
 'Porto Alegre' 'Florianópolis' 'São Paulo']

,date,state,city,place,gender,age_group,deaths_sars,deaths_pneumonia,deaths_respiratory_failure,deaths_septicemia,deaths_indeterminate,deaths_others,deaths_covid19,deaths_stroke,deaths_stroke_covid19,deaths_cardiopathy,deaths_cardiogenic_shock,deaths_heart_attack,deaths_heart_attack_covid19,deaths_sudden_cardiac
0,2019-01-01,AM,Manaus,home,F,40-49,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-01-01,AM,Manaus,home,F,90-99,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-01-01,AM,Manaus,home,M,50-59,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-01-01,AM,Manaus,home,M,60-69,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-01-01,AM,Manaus,hospital,F,100+,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
print(len(cities))
print(len(registry_deaths.city.unique()))
check =  all(item in cities for item in list(registry_deaths.city.unique()))
if check:
    print('Cities correct')
else:
    print('Cities NOT correct')

14
14
Cities NOT correct

In [13]:
covid_deaths.place.unique()

array(['home', 'hospital', 'public', 'others'], dtype=object)

### Group the deaths to non-covid and covid

In [14]:
columns_non_covid_deaths = ['deaths_sars',
       'deaths_pneumonia', 'deaths_respiratory_failure', 'deaths_septicemia',
       'deaths_indeterminate', 'deaths_others',
       'deaths_stroke', 'deaths_cardiopathy',
       'deaths_cardiogenic_shock', 'deaths_heart_attack', 'deaths_sudden_cardiac']
columns_covid_deaths = ['deaths_covid19', 'deaths_stroke_covid19',
       'deaths_heart_attack_covid19']

In [15]:
def sum_columns(df, columns):
    df.fillna(0, inplace=True)
    vals = df[columns[0]].values
    for c in columns[1:]:
        vals = vals + df[c].values
    return vals

In [16]:
cd = covid_deaths.copy()
cd['deaths_non_covid'] = sum_columns(cd, columns_non_covid_deaths)
cd['deaths_covid'] = sum_columns(cd, columns_covid_deaths)
cd['deaths_total'] = sum_columns(cd, ['deaths_non_covid', 'deaths_covid'])
cd.drop(columns=columns_non_covid_deaths, inplace=True)
cd.drop(columns=columns_covid_deaths, inplace=True)
cd

,date,state,city,place,gender,age_group,deaths_non_covid,deaths_covid,deaths_total
0,2019-01-01,AM,Manaus,home,F,40-49,1.0,0.0,1.0
1,2019-01-01,AM,Manaus,home,F,90-99,1.0,0.0,1.0
2,2019-01-01,AM,Manaus,home,M,50-59,1.0,0.0,1.0
3,2019-01-01,AM,Manaus,home,M,60-69,1.0,0.0,1.0
4,2019-01-01,AM,Manaus,hospital,F,100+,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
220608,2021-06-25,SP,São Paulo,hospital,F,80-89,3.0,1.0,4.0
220609,2021-06-25,SP,São Paulo,hospital,F,90-99,1.0,0.0,1.0
220610,2021-06-25,SP,São Paulo,hospital,M,50-59,1.0,0.0,1.0
220611,2021-06-25,SP,São Paulo,hospital,M,60-69,2.0,0.0,2.0
220612,2021-06-25,SP,São Paulo,hospital,M,80-89,1.0,2.0,3.0

In [17]:
print(cd.age_group.unique())

['40-49' '90-99' '50-59' '60-69' '100+' '30-39' '70-79' '80-89' '9-'
 '10-19' '20-29' 0]

'9-' age group is people 9 years old or younger; group 0 is NA (see https://github.com/capyvara/brazil-civil-registry-data)

### Change age group '0' to 'unknown'

In [18]:
cd['age_group'][cd['age_group'] == 0] = 'unknown'
print(cd.age_group.unique())

['40-49' '90-99' '50-59' '60-69' '100+' '30-39' '70-79' '80-89' '9-'
 '10-19' '20-29' 'unknown']

C:\Users\iwona\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### Translate the cities to remove the Portuguese characters

In [19]:
cd.replace({"city": cities_dict}, inplace=True)
print(cd.city.unique())

['Manaus' 'Macapa' 'Salvador' 'Goiania' 'Sao Luis' 'Belo Horizonte'
 'Joao Pessoa' 'Curitiba' 'Rio de Janeiro' 'Natal' 'Porto Velho'
 'Porto Alegre' 'Florianopolis' 'Sao Paulo']

### Save dataframes to csv

In [20]:
cd.to_csv(save_data_path + 'registry_covid_detailed.csv', index=False)